<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная страница сайта</title>
       <link href="..\static\styles.css" rel="stylesheet" type="text/css" >
       <script src="..\static\Chart.min.js"></script>
    </head>
    <body>
        <h1>Загрузка процессора</h1>
        <canvas id="myChart" width="400" height="400"></canvas>  
        <script type="text/javascript">
            let values = JSON.parse('{{ values }}');
            let time = (JSON.parse("{{ time }}"));
            for(let i=0; i<time.length; i++) {
                time[i] = new Date(time[i])
            }
            console.log(time)
        </script>
        <script src="..\static\main.js" type="text/javascript"></script>
    </body>
</html>