<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>История загрузки процессора</title>
        <link href="..\static\styles.css" rel="stylesheet" type="text/css" >
        <script src="..\static\chart.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
        <h1>История загрузки процессора</h1>
        <canvas id="myChart1"></canvas> 
        <canvas id="myChart2"></canvas>
        <script type="text/javascript">
            let value = JSON.parse('{{ values }}');
            let time = JSON.parse("{{ time }}");
            let average_value = JSON.parse('{{ average_value }}');
            let average_time = JSON.parse("{{ average_time }}");
            let interval = JSON.parse('{{ interval }}');
        </script>
        <script src="..\static\main.js" type="text/javascript"></script>
        </div>
    </body>
</html>