<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>История загрузки процессора</title>
        <link href="..\static\styles.css" rel="stylesheet" type="text/css" >
        <script src="..\static\Chart.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
        <h1>История загрузки процессора</h1>
        <canvas id="myChart1"></canvas> 
        <canvas id="myChart2"></canvas>
        <script type="text/javascript">
            let value = JSON.parse('{{ values }}');
            let time = JSON.parse("{{ time }}");
            for(let i=0; i<time.length; i++) {
                time[i] = new Date(time[i]);
                time[i] = `${time[i].toTimeString().slice(0, 9)}`
            };
            let average_value = JSON.parse('{{ average_value }}');
            let average_time = JSON.parse("{{ average_time }}");
            for(let j=0; j<average_time.length; j++) {
                average_time[j] = new Date(average_time[j]);
                average_time[j] = `${average_time[j].toTimeString().slice(0, 6)}`
            };
        </script>
        <script src="..\static\main.js" type="text/javascript"></script>
        </div>
    </body>
</html>